<h2>Contact Details</h2>
<p class="text-muted">Please let us know how we can contact you.</p>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Contact details</h5>
            </div>
            <div class="card-body widget-body">
                <form (submit)="next()" class="form" ngNativeValidate>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" [ngModel]="email" class="form-control" readonly required />
                    </div>
                    <div class="form-group">
                        <label for="contactNumber">Cellphone</label>
                        <input type="text" name="contactNumber" [(ngModel)]="contactNumber" numberInput class="form-control" required placeholder="09772459356" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    AA{{ contactNumber }}
</div>