<div class="card border-5 box-shadow pb-3">
  <div *ngIf="!accountCreated">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center mt-5">
        <h1 class="display-1">
          <i aria-hidden="true" class="fa fa-check-circle-o text-success"></i>
        </h1>
        <h1 class="display-4">Thank you!</h1>
        <br> That's all the information that we need for now. Click the button below to create your account.
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 mt-5 mb-5">
      <button (click)="next()" [disabled]="loading" class="btn btn-primary">
        <i *ngIf="loading" class="fa fa-cog fa-spin"></i>Get started</button>
    </div>
  </div>

  <div *ngIf="accountCreated" class="row">
    <p>Your account has been created and we have sent you a confirmation email</p>
    <p>You may proceed to your user profile now but in order to perform any transactions you will need to confirm your email
      address
    </p>
    <a routerLink="/amp/user-profile" class="btn btn-success">Take me to my User profile page</a>
  </div>
</div>