<div class="row">
    <div class="col-md-12">
        <h3>Welcome!</h3>
    </div>
    <div class="col-md-12 mb-2">
        Welcome to Aspiring Magic Players of the Ateneo
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card mb-2">
                <div class="card-header">
                    <ul class="nav nav-tabs top card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#terms">Terms of Use</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body pre-scrollable" style="height: 400px;">
                    <div class="tab-content border-0">
                        <div class="tab-pane active show" id="terms">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus, arcu eu sollicitudin dictum, diam justo efficitur
                            sem, eu commodo urna mauris vel justo. Fusce mollis ligula et consectetur condimentum. Aenean
                            ex massa, lacinia at metus faucibus, volutpat pulvinar risus. Sed bibendum, massa id scelerisque
                            tincidunt, diam sem euismod lectus, et dignissim turpis erat vitae eros. Duis luctus odio nec
                            facilisis ultricies. Quisque blandit cursus sapien non porttitor. Maecenas euismod mattis nunc
                            eu consequat. Mauris ornare dapibus lectus aliquam tincidunt. Praesent non odio vitae libero
                            luctus aliquet eu non nisi. Sed dapibus eros et pharetra auctor. Curabitur aliquet nulla quis
                            eros facilisis venenatis. Fusce semper tristique magna, cursus efficitur est porttitor at. Ut
                            nec mattis mauris. Duis eget nisl ipsum. Fusce vel diam est. Aenean vitae ligula lobortis, vehicula
                            justo sed, efficitur velit. Nam in metus ante. Integer eget dapibus lectus, at luctus tellus.
                            Donec interdum nisl felis, sed sollicitudin quam elementum id. Sed nisi enim, porta a fermentum
                            quis, ornare sit amet nulla. Duis faucibus nisi nec justo aliquet, vitae eleifend velit sollicitudin.
                            Mauris volutpat enim nec nulla sodales consequat. Aliquam scelerisque scelerisque ex, ut posuere
                            odio gravida sed. Cras feugiat tristique auctor. Vivamus vulputate quam id augue tincidunt scelerisque.
                            Sed dignissim nunc ex, eu consectetur quam iaculis laoreet. Aliquam tempus, orci ut ullamcorper
                            lobortis, massa elit lacinia lorem, sit amet rhoncus leo erat sed lacus. Etiam convallis metus
                            a enim bibendum mollis. Donec quis nibh elit. Orci varius natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae; Fusce bibendum nunc eros, in semper lorem gravida et. In sit amet cursus
                            elit. Duis lobortis lectus felis, non aliquam urna pretium eget. Sed eget suscipit ligula, eu
                            pellentesque est. Cras vitae faucibus quam, sed mollis risus. In odio ante, lobortis eu mauris
                            eget, malesuada egestas ligula. Phasellus feugiat nibh vitae ligula convallis, sed scelerisque
                            velit convallis. Suspendisse mi justo, aliquam in scelerisque et, blandit sit amet erat. Vivamus
                            ut enim urna. Etiam imperdiet nisi quis purus posuere malesuada. Aenean lacinia posuere est,
                            tempus fringilla arcu fermentum at. Suspendisse condimentum nulla id porta tempus. Sed porttitor
                            bibendum enim quis interdum. Donec sit amet ullamcorper est. Vivamus ac lectus nec ligula interdum
                            bibendum. Nullam ultrices, eros non bibendum egestas, velit risus mattis magna, et imperdiet
                            diam metus vel magna. Sed non egestas tortor. Curabitur at dolor in ex auctor cursus. Etiam condimentum
                            faucibus augue, nec viverra enim lobortis id. Praesent efficitur leo et commodo cursus. Vestibulum
                            nec elementum metus. Integer sed mattis nulla, sed viverra nisl. Praesent quis enim facilisis,
                            hendrerit ligula vestibulum, placerat eros. Integer imperdiet, arcu id congue porta, massa felis
                            egestas ex, a viverra mi nisi quis dui. Duis et enim velit. Nulla libero nulla, pulvinar eget
                            ultricies sit amet, iaculis ac urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus tempus, arcu eu sollicitudin dictum, diam justo efficitur sem, eu commodo urna mauris
                            vel justo. Fusce mollis ligula et consectetur condimentum. Aenean ex massa, lacinia at metus
                            faucibus, volutpat pulvinar risus. Sed bibendum, massa id scelerisque tincidunt, diam sem euismod
                            lectus, et dignissim turpis erat vitae eros. Duis luctus odio nec facilisis ultricies. Quisque
                            blandit cursus sapien non porttitor. Maecenas euismod mattis nunc eu consequat. Mauris ornare
                            dapibus lectus aliquam tincidunt. Praesent non odio vitae libero luctus aliquet eu non nisi.
                            Sed dapibus eros et pharetra auctor. Curabitur aliquet nulla quis eros facilisis venenatis. Fusce
                            semper tristique magna, cursus efficitur est porttitor at. Ut nec mattis mauris. Duis eget nisl
                            ipsum. Fusce vel diam est. Aenean vitae ligula lobortis, vehicula justo sed, efficitur velit.
                            Nam in metus ante. Integer eget dapibus lectus, at luctus tellus. Donec interdum nisl felis,
                            sed sollicitudin quam elementum id. Sed nisi enim, porta a fermentum quis, ornare sit amet nulla.
                            Duis faucibus nisi nec justo aliquet, vitae eleifend velit sollicitudin. Mauris volutpat enim
                            nec nulla sodales consequat. Aliquam scelerisque scelerisque ex, ut posuere odio gravida sed.
                            Cras feugiat tristique auctor. Vivamus vulputate quam id augue tincidunt scelerisque. Sed dignissim
                            nunc ex, eu consectetur quam iaculis laoreet. Aliquam tempus, orci ut ullamcorper lobortis, massa
                            elit lacinia lorem, sit amet rhoncus leo erat sed lacus. Etiam convallis metus a enim bibendum
                            mollis. Donec quis nibh elit. Orci varius natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Fusce bibendum nunc eros, in semper lorem gravida et. In sit amet cursus elit.
                            Duis lobortis lectus felis, non aliquam urna pretium eget. Sed eget suscipit ligula, eu pellentesque
                            est. Cras vitae faucibus quam, sed mollis risus. In odio ante, lobortis eu mauris eget, malesuada
                            egestas ligula. Phasellus feugiat nibh vitae ligula convallis, sed scelerisque velit convallis.
                            Suspendisse mi justo, aliquam in scelerisque et, blandit sit amet erat. Vivamus ut enim urna.
                            Etiam imperdiet nisi quis purus posuere malesuada. Aenean lacinia posuere est, tempus fringilla
                            arcu fermentum at. Suspendisse condimentum nulla id porta tempus. Sed porttitor bibendum enim
                            quis interdum. Donec sit amet ullamcorper est. Vivamus ac lectus nec ligula interdum bibendum.
                            Nullam ultrices, eros non bibendum egestas, velit risus mattis magna, et imperdiet diam metus
                            vel magna. Sed non egestas tortor. Curabitur at dolor in ex auctor cursus. Etiam condimentum
                            faucibus augue, nec viverra enim lobortis id. Praesent efficitur leo et commodo cursus. Vestibulum
                            nec elementum metus. Integer sed mattis nulla, sed viverra nisl. Praesent quis enim facilisis,
                            hendrerit ligula vestibulum, placerat eros. Integer imperdiet, arcu id congue porta, massa felis
                            egestas ex, a viverra mi nisi quis dui. Duis et enim velit. Nulla libero nulla, pulvinar eget
                            ultricies sit amet, iaculis ac urna.
                        </div>
                        <div class="tab-pane" id="privacy">
                        </div>
                    </div>
                </div>
            </div>

            <button (click)="next()" class="btn btn-primary">Accept & Proceed</button>
        </div>
    </div>
</div>