<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center pb-1">
                <h2 class="mb-4">Welcome to the Aspiring Magic Players of the Ateneo</h2>
                <div class="form-group">
                    <button (click)="login()" class="btn btn-block" type="submit">Sign-in or sign-up with Facebook</button>
                </div>
                <div class="form-group">
                    <button routerLink="/marketplace" class="btn btn-block" type="submit">Continue anonymously for now</button>
                </div>
            </div>
            <div class="card-footer text-center bg-transparent mb-4">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <img src="/assets/amp/images/U.svg" />
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <img src="/assets/amp/images/W.svg" />
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <img src="/assets/amp/images/G.svg" />
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <img src="/assets/amp/images/R.svg" />
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <img src="/assets/amp/images/B.svg" />
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>