<div widget class="card border-0 box-shadow mt-lg-0 mt-md-0 mt-3">
  <div class="card-header transparent border-0"><i class="fa fa-money"></i> Transaction summary</div>
  <div *ngIf="completeTxn" class="card-body pt-0 widget-body">
    <div class="row"><h5 class="col-12">Seller</h5></div>
    <div class="row">
      <div class="col-lg-3"><img [src]="completeTxn.sellerProfile.photoUrl" /></div>
      <div class="col-lg-9">
        <div>{{completeTxn.sellerProfile.displayName}}</div>
        <div>{{completeTxn.sellerProfile.contactNumber}} <a [href]="completeTxn.sellerProfile.fbLink" title="Message in Facebook"><i class="fa fa-facebook"></i></a></div>
        <div>
          <i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i>
          <a href="javascript:;" class="ml-1"><small class="text-muted">View reviews</small></a>
        </div>
        <div><small class="text-muted">Member since {{completeTxn.sellerProfile.createdDate | date}}</small></div>
      </div>
    </div>

    <div class="row"><h5 class="col-12">Buyer</h5></div>
    <div class="row">
      <div class="col-lg-3"><img [src]="completeTxn.buyerProfile.photoUrl" /></div>
      <div class="col-lg-9">
        <div>{{completeTxn.buyerProfile.displayName}}</div>
        <div>{{completeTxn.buyerProfile.contactNumber}}</div>
        <div>
          <i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i><i class="fa fa-star text-success"></i>
          <a href="javascript:;" class="ml-1"><small class="text-muted">View reviews</small></a>
        </div>
        <div><small class="text-muted">Member since {{completeTxn.buyerProfile.createdDate | date}}</small></div>
      </div>
    </div>

    <!-- Delivery method -->
    <hr>
    {{completeTxn.deliveryMethod}}

    <!-- Payment method -->
    <hr>
    {{completeTxn.paymentMethod}}
  </div>









  <div *ngIf="!completeTxn" class="card-body pt-0 widget-body">
    <h5 class="mb-0"><i class="fa fa-gear fa-spin"></i> Loading...</h5>
  </div>
</div>