<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12">
<div *ngIf="bundle" widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0">
      <h5 class="mb-0 col-lg-12">
        <span *ngIf="bundle?.binder">{{bundle.binder.name}} - </span>{{bundle?.card.name}}
        <br><small class="text-muted">{{bundle?.card.setCode || 'No set'}} | {{bundle?.card.lang}}</small>
      </h5>
  </div>
  <div class="card-body pt-0 widget-body">
    <div class="col-lg-8 col-md-8 col-sm-12 mb-4">
      <p class="text-left fs-13 text-gray">Details</p>
      <div class="slideshow-parent mb-4" *ngIf="!editingPictures && bundle.pictures?.length">
        <crystal-gallery [images]="slideshowPics" [config]="slideshowConfig"></crystal-gallery>
      </div>
    </div>
  </div>
  <div class="card-body pt-0 widget-body">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <dl class="row">
        <dt class="col-lg-5">Qty
        <dd class="col-lg-7">{{bundle.qty}}
        <dt class="col-lg-5">Condition
        <dd class="col-lg-7">{{bundle.condition}}
        <dt class="col-lg-5">Price<span *ngIf="bundle.sellMode == 'PIECE_SET'">/pc</span>
        <dd class="col-lg-7">{{bundle.sellPrice}}
        <dt *ngIf="bundle.sellMode == 'PIECE_SET'" class="col-lg-5">Price/set
        <dd *ngIf="bundle.sellMode == 'PIECE_SET'" class="col-lg-7">{{bundle.sellPriceSet || '-'}}
      </dl>
      <button (click)="addToCart()" [disabled]="loading" class="btn btn-primary">
        <i *ngIf="!loading" class="fa fa-cart-plus"></i>
        <i *ngIf="loading" class="fa fa-gear fa-spin"></i> Add to Cart
      </button>
      <button routerLink="/amp/market" class="btn btn-default ml-1">Back to Market</button>
    </div>
  </div>
</div>


<div *ngIf="!bundle" widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
      <h5 class="mb-0"><i class="fa fa-gear fa-spin"></i> Loading...</h5>
  </div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12">
  <shopping-cart></shopping-cart>
  <bundle-owner-details *ngIf="bundle" [ownerUsername]="bundle.owner"></bundle-owner-details>
</div>
</div>