<div widget class="card border-0 box-shadow mt-lg-0 mt-md-0 mt-3">
  <div class="card-header transparent border-0 text-muted">
      <h5 class="mb-0">Checkout<br>
        <small class="text-muted">Pending deals with {{txnCount}} {{txnCount === 1 ? 'person' : 'people'}}</small>
      </h5>
  </div>
  <div *ngIf="(cart | async).txns.length" class="card-body pt-0 widget-body">



    <!-- Each transaction -->
    <form (submit)="verifyAndCheckout()" class="form" ngNativeValidate>
    <div *ngFor="let txn of (cart | async).txns; let index = index">
      <div class="row">
        <div class="col-12">
          <h5><small class="text-muted">Deal with</small> {{txn.sellerName || 'No seller'}} <small (click)="removeTxn(txn)" class="text-muted pointer">Remove</small></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div widget class="card border-0 box-shadow mt-lg-0 mt-md-0 mt-3">
            <div class="card-header transparent border-0">Card details</div>
            <div class="card-body pt-0 widget-body">
              <div *ngFor="let order of txn.orders">
                {{order.qty}}x {{order.bundle.card.name}} ({{order.price | currency: 'Php'}}) <small (click)="remove(order)" class="text-muted pointer">Remove</small>
              </div>
              <div>
                Total: {{txn.total | currency: 'Php '}}<br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div widget class="card border-0 box-shadow mt-lg-0 mt-md-0 mt-3">
            <div class="card-header transparent border-0">Transaction details</div>
            <div class="card-body pt-0 widget-body">
                <!-- Delivery method & delivery address -->
                <div class="form-group">
                  <label>Delivery method</label>
                  <select [(ngModel)]="txn.deliveryMethod" name="delivery-method-{{$index}}" class="form-control" required>
                    <option [disabled]="!txn.sellerProfile?.meetup" value="MEETUP">Meetup <span *ngIf="!txn.sellerProfile?.meetup" class="txt-muted">(Seller doesn't accept meetups)</span></option>
                    <option [disabled]="!txn.sellerProfile?.shipping" value="SHIPPING">Shipping <span *ngIf="!txn.sellerProfile?.shipping" class="txt-muted">(Seller doesn't accept shipping)</span></option>
                  </select>
                </div>

                <!-- Select meetup if delivery method=meetup -->
                <div *ngIf="txn.deliveryMethod == 'MEETUP'" class="form-group">
                  <label>Meetup location</label>
                  <select [(ngModel)]="txn.meetup" name="meetup-location-{{$index}}" class="form-control" required>
                    <option *ngFor="let meetup of txn.sellerProfile?.meetups" [ngValue]="meetup">{{meetup.name}}</option>
                  </select>
                </div>

                <!-- Payment method -->
                <div class="form-group">
                  <label>Payment method</label>
                  <select [(ngModel)]="txn.paymentMethod" name="payment-method-{{$index}}" class="form-control" required>
                    <option [disabled]="!txn.sellerProfile?.ampotaCoin" value="AMPOTA_COIN">Ampota coin <span *ngIf="!txn.sellerProfile?.ampotaCoin" class="txt-muted">(Seller doesn't accept Ampota coin)</span></option>
                    <option [disabled]="!txn.sellerProfile?.cod" value="COD">Cash on delivery <span *ngIf="!txn.sellerProfile?.cod" class="txt-muted">(Seller doesn't accept COD)</span></option>
                    <option [disabled]="!txn.sellerProfile?.bankDeposit" value="BANK_DEPOSIT">Bank deposit <span *ngIf="!txn.sellerProfile?.bankDeposit" class="txt-muted">(Seller doesn't accept Bank deposit)</span></option>
                  </select>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <bundle-owner-details [ownerUsername]="txn.seller"></bundle-owner-details>
        </div>
      </div>
      <hr>
    </div>
    <!-- End transaction loop -->


    <button type="submit" class="btn btn-primary">Verify & Checkout</button>
    </form>
  </div>

  <div *ngIf="!(cart | async).txns.length" class="card-body pt-0 widget-body">
    <h5>🙌 Your cart seems to be empty</h5>
    <a routerLink="/amp/market" class="btn btn-primary">Back to market</a>
  </div>
</div>