<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Card Search</h5>
    </div>

  <div class="card-body pt-0 widget-body">
    <p class="text-left fs-13 text-gray">Card Search</p>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="form-group">
        <label class="control-label" for="en-card">Card</label>
        <ng-select [items]="cardNames$ | async"
                 [loading]="cardNamesLoading"
                 [typeahead]="cardNamesInput$"
                 [(ngModel)]="filters.cardName"
                 (change)="refreshFilters()"
                 id="card-name"
                 name="card-name">
        </ng-select>
      </div>
      <div class="form-group">
        <label class="control-label" for="legality">Legality</label>
        <select [(ngModel)]="filters.legality" (change)="refreshFilters()" id="legality"
                 class="form-control" name="legality">
          <option value="">Any</option>
          <option value="standard">Standard</option>
          <option value="modern">Modern</option>
          <option value="legacy">Legacy</option>
          <option value="vintage">Vintage (legal/restricted)</option>
          <option value="edh">EDH / Commander</option>
          <option value="duel">Duel Commander</option>
          <option value="pauper">Pauper</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="colors">Colors</label>
        <div>
          <ss-multiselect-dropdown [options]="colorSelectOptions" [settings]="colorSelectSettings" [texts]="colorSelectTexts" [(ngModel)]="filters.colors" name="colors" (ngModelChange)="refreshFilters()"></ss-multiselect-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body pt-0 widget-body">
          <div class="table-responsive">
            <ng2-smart-table  class="table table-hover"
                              [settings]="settings" 
                              [source]="source"
                              (custom)="onCustom($event)"
                              ></ng2-smart-table>
        </div>
  </div>

</div>